/* Starter Project Styles*/ 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

body{
    margin: 0;
}

/*******DRINK SCROLL***/
header{
    height: 200px;
    font-size: 500%;
    text-align: left;
    padding: 40px 1rem 1rem 1rem;
    background-color: #B07979;
}
h2{
    font-size: 50px;
    padding: 1rem;
}
.about{
    font-size: 20px;
    padding: 1rem;
    padding-right: 12rem;
}
.box{
    height: 700px;
    background-color: white;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.box::-webkit-scrollbar{
    display: none;
}
.card-a {
    display: inline-block;
    background-color: #FFF2F2;
    height: 900px;
    width: 900px;
}
.card-b {
    display: inline-block;
    background-color: #FFE6E6;
    height: 900px;
    width: 900px;   
}
.card-c {
    display: inline-block;
    background-color: green;
    height: 900px;
    width: 900px;
}
.card-d {
    display: inline-block;
    background-color: purple;
    height: 900px;
    width: 900px;
}
.card-e {
    display: inline-block;
    background-color: blue;
    height: 900px;
    width: 900px;
}