/* Starter Project Styles*/ 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

header {
    background-color: #FFF2F2;
    
}

/***NAVIGATION BAR***/

body {
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px;  
  border: none;
  outline: none;
  color: white;
  padding: 18px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: grey;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*******DRINK SCROLL***/

body{
  margin:0;
}
.box{
    height: 800px;
    background-color: white;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.box::-webkit-scrollbar{
    display: none;
}
.card-a {
    display: inline-block;
    background-color: #FFF2F2;
    height: 900px;
    width: 900px;
    padding: 3rem;
    font-size: 2rem;
}
.card-b {
    display: inline-block;
    background-color: #FFE6E6;
    height: 900px;
    width: 900px;
    padding: 3rem;
    font-size:2rem;
}
.card-c {
    display: inline-block;
    background-color: #FFF2F2;
    height: 900px;
    width: 900px;
    padding: 3rem;
    font-size: 2rem;
}
.card-d {
    display: inline-block;
    background-color: #FFF2F2;
    height: 900px;
    width: 900px;
    padding: 3rem;
    font-size: 2rem;
}
.card-e {
    display: inline-block;
    background-color: #FFF2F2;
    height: 900px;
    width: 900px;
    padding: 3rem;
    font-size: 2rem;
}

/*****Categories***/
.coffee {
  position: absolute;
    height: 800px; 
  right: 550px;
  top: 472px;
  z-index: 1;
}